
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 100%;
      margin: auto;
  }
  body{
    background-color: black;
  }

  .pFont {
    font-family: fantasy;
    color: black;
    text-shadow: 3px 7px 10px black;
  }
